body{
    background-color:#115e8e;
    background-repeat: no-repeat;
    background-size: cover;
    padding:0;
    }
       
.chat{
    background-color: #89cad2;
    padding-bottom: 14% !important;
    border-radius: 3%;
    margin-left: 1%
    }
    
.titre{
    text-align: center;
    }
.donut{
    display: flex !important;
    align-items: center !important;
    }
#tete{
    background-color: transparent;
    border:none;
}

#score{
    background-color: transparent;
    border:none;
}

.homer{
    display: flex !important;
    align-items: right !important;
    margin-right: 0% !important;
}
